* {
    cursor: default;
    margin: 0;
    padding: 0;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.whole-container {
    background-image: url(./assets/6221972.jpg);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.player-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
}

.board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 100vh;
}

.board {
    flex-grow: .5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 60%;
    height: 10%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
}

.box-0 {
    border-top: none;
    border-left: none;
}

.box-1 {
    border-top: none;
}

.box-2 {
    border-top: none;
    border-right: none;
}

.box-3 {
    border-left: none;
}

.box-5 {
    border-right: none;
}

.box-6 {
    border-left: none;
    border-bottom: none;
}

.box-7 {
    border-bottom: none;
}

.box-8 {
    border-right: none;
    border-bottom: none;
}

.snowboarder-emoji, .snowboarder-wins, .skier-emoji, .skier-wins {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.snowboarder-wins, .skier-wins {
    font-size: 2rem;
}

.display-turn {
    font-size: 50px;
    padding-top: 0px;
}

.not-allowed:active {
    cursor: not-allowed;
}

.disable {
    pointer-events: none;
}

.restart-btn {
    background-color: rgb(255, 255, 255);
    border-color: rgb(182, 182, 182);
    border-radius: 5px;
    border: 10%;
    font-size: 1.5rem;
    cursor: pointer;
}

.restart-btn:hover {
    background-color: rgb(172, 219, 247);
}



