* {
    cursor: default;
}
body {
    margin: 0;
    padding: 0;
    cursor: default;
    background-color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.whole-container {
    background-image: url(./assets/6221972.jpg);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.player-container {
    /* background-color: #ffffff; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    margin: 0;
}

.board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.board {
    flex-grow: .5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0px;
    width: 60%;
    height: 10%;

}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5%;
    cursor: pointer;
}

.box:hover {
    background-color: rgb(172, 219, 247);
}

/* need remove borders from box */

.snowboarder-emoji, .skier-emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.snowboarder-wins, .skier-wins {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.display-turn {
    font-size: 50px;
    padding-top: 0px;
}

.not-allowed:active {
    opacity: .5;
    cursor: not-allowed;
}

.disable {
    pointer-events: none;
}

.restart-btn {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    text-shadow: 5em;
    cursor: pointer;
}

.restart-btn:hover {
    background-color: rgb(172, 219, 247);
}

